<html lang="fr">
<head>
  <meta charset="utf-8"></meta>
  <title>Titre de la page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.1/css/animsition.min.css">
  <script src="/lib/jquery/jquery-3.2.1.min.js"></script>
</head>
<body>