<% 
	include("header.ejs");
%>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>


<button id="connection">Connection</button>
<button id="inscription">Inscription</button>
  <form action="" method="post" id="formconnection">
    <label>Connection : </label>
    <div>
        <label>Nom :</label>
        <input type="text" id="login_name" />
    </div>
    <div>
        <label>Mot de Passe :</label>
        <input type="password" id="login_password" />
    </div>
    <div class="button">
      <button type="submit">Envoyer votre message</button>
    </div>
</form>

<form action="" method="post" id="forminscription">
  <label>Enregistrer : </label>
  <div>
    <label>Nom :</label>
    <input type="text" id="register_name" />
  </div>
  <div>
    <label>Courriel :</label>
    <input type="email" id="register_email" />
  </div>
  <div>
    <label>Mot de Passe :</label>
    <input type="password" id="register_password" />
  </div>

  <div class="button">
    <button type="submit">Envoyer votre message</button>
  </div>
</form>
  
  
  
  <script>
  $(function() {
  $('#forminscription').hide();
  $('#formconnection').hide();
    $('#connection').click(function() {
      $('#forminscription').hide();
      $('#formconnection').show();
    });
    $('#inscription').click(function() {
      $('#forminscription').show();
      $('#formconnection').hide();
    });
    });
  </script>
  
  
<% 
	include("footer.ejs");
%>
